.MainContainer {
    max-width: 100%;
    width: 95%;
    display: flex;
    margin: 0 auto 48px;
    position: relative;
    transition: width .3s, max-width .3s;
    background-color: rgba(30, 29, 50, 0.25);
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
}